.heading-primary {
    display: block;
    font-size: 4.3rem;
    font-family: product-sans-bold;
    text-transform: capitalize;
    color: $blue-grey-900;
    max-width: 100%;
    line-height: 6rem;
    letter-spacing: .2rem;
}

.text-box {
    font-size: 1.8rem;
    padding: 4rem;
    font-family: product-sans-regular;
}

.text-wrapper {
    max-width: 80%;
    color: $blue-grey-700;
}

// * Header Font
// ? PRODUCT SANS
@font-face {
    font-family: "product-sans-bold";
    src: url("~assets/fonts/Google-Product-Sans-Header/Product-Sans-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "product-sans-regular";
    src: url("~assets/fonts/Google-Product-Sans-Header/Product-Sans-Regular.ttf") format("truetype");
}

// ? PROXIMA NOVA
@font-face {
    font-family: "proxima-regular";
    src: url("~assets/fonts/ProximaNova-text/ProximaNova-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "proxima-light";
    src: url("~assets/fonts/ProximaNova-text/ProximaNova-Light.ttf") format("truetype");
}

@font-face {
    font-family: "proxima-bold";
    src: url("~assets/fonts/ProximaNova-text/ProximaNova-Bold.ttf") format("truetype");
}
