// * margin
.u-mt-small {
    margin-top: 2rem;
}

.u-mt-medium {
    margin-top: 4rem;
}

.u-mt-large {
    margin-top: 8rem;
}

.u-mt-xlarge {
    margin-top: 14rem;
}

.u-mb-small {
    margin-bottom: 2rem;
}

// * padding
.b-padding-small {
    padding: 2.8rem 1.8rem;
}

.b-padding-medium {
    padding: 5.8rem 2.8rem;
}

.b-padding-large {
    padding: 9.8rem 7.8rem;
}

.u-pt-small {
    padding-top: 2rem;
}

.u-pt-medium {
    padding-top: 4rem;
}

.u-pt-large {
    padding-top: 8rem;
}

.u-pt-xlarge {
    padding-top: 14rem;
}

// * Text Center
.u-text-center {
    text-align: center;
}
