$font-size: calc(1.6rem + (24 - 16)*(100vw - 600px)/(1200 - 600));
$padding: calc(20px + (40 - 20) * (100vw - 600px) / (1200 - 600));
$line-height: calc(28px + (38 - 28) * (100vw - 600px) / (1200 - 600));

/* 0.875rem(14px) @ 20rem(320px) increasing to 1.5rem(24px) @ 120rem(1920px) */
@media (min-width: 20rem) {
    :root {
        font-size: calc(0.875rem + ((1vw - 0.2rem) * 0.625));
        /* Where: * 0.625 = 100 * font_Size_Difference / viewport_Width_Difference */
    }
}

/* Prevent font scaling beyond this breakpoint */
@media (min-width: 120rem) {
    :root {
        font-size: 1.5rem;
}
}
