.focus {
    font-size: 1.6rem;

    &__content {
        max-width: 60%;
        color: $blue-grey-800;
        line-height: 1.8;
    }
}

.ul-list {
    display: grid;
    grid-template-columns: repeat(3, 3fr);
    grid-template-rows: auto auto;
    list-style: none;
    gap: 4vh;

    &__item {
        padding: 2rem;

        &:nth-child(1) {
            grid-column: 1;
            grid-row: 2/1;
        }
    }

    &__title {
        margin-bottom: 2rem;
        text-transform: capitalize;
        font-family: proxima-bold;
        font-weight: normal;
        color: $blue-grey-900;
        letter-spacing: .1rem;

        &--pre {
            color: $red-500;
        }
    }


    &__text {
        font-family: product-sans-regular;
        color: $blue-grey-700;
        line-height: 2;
    }
}

/*===================
// * Feather
=====================*/
.feather-holder {
    padding: 0 10rem 15rem;
    text-align: right;
}

.feather {
    position: relative;
    display: inline-block;
    width: 110px;
    height: 38px;
    background-repeat: no-repeat;
}

.feather-reflection {
    position: absolute;
    top: 100%;
    z-index: -1;
    width: 100%;
    height: 100%;
    opacity: .5;
    filter: blur(5px);
    transform: scaleY(-1);
    background-repeat: no-repeat;

    &::after {
        content: "";
        z-index: -1;
        position: absolute;
        display: block;
        width: 100%;
        height: 150%;
        transform: scaleY(-1);
        background: linear-gradient(hsla(0, 0%, 100%, 0), #fff 75%);
    }
}
