.principle {
    background: $blue-grey-900;
    margin-top: 8rem;
    color: $blue-050;
    font-size: 1.8rem;

    &__title {
        padding-bottom: 2rem;
        display: block;
        font-size: 4.3rem;
        font-family: product-sans-bold;
        text-transform: capitalize;
        color: $blue-grey-100;
        max-width: 100%;
        line-height: 6rem;
        letter-spacing: .2rem;
    }

    &__content {
        font-size: 1.6rem;
        letter-spacing: .1rem;
        font-family: proxima-regular;
        width: 35%;
    }
}

.principle-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    list-style: none;

    h3,
    h4 {
        font-weight: normal !important;
        letter-spacing: .1rem;
        line-height: 1.8;
        display: inline-block;
    }

    p {
        padding: 3rem 0;
        line-height: 2;
        font-family: proxima-regular;
        width: 80%;
        font-size: 1.6rem;
    }
}
