.work {
    text-align: center;

    &__title {
        padding-top: 5rem;
    }

    &__text {
        padding: 2rem 5rem;
        margin: auto;
        font-family: proxima-regular;
        font-size: 1.6rem;
        color: $blue-grey-600;
        width: 50%;

        @include first-child() {
            width: 60%;
        }
    }
}

.btn-holder {
    padding: 8rem 0 10rem 7rem;
}

.client-logos-holder {
    position: relative;
    padding: 10rem 0;

    ul {
        display: block;
        @include center(both);
        width: 100%;
    }

    li {
        display: inline-block;
        padding: 2rem 8rem;
    }

    div {
        height: 48px;
        width: 48px;
    }
}
