.footer {
  position: relative;
  border-top: 1px solid $blue-grey-700;
  height: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  height: 30%;
  padding: 3rem 0 0 0;
  opacity: 0.8;

  &__svg-holder {
    margin-right: auto;
  }

  &__svg {
    z-index: 80;
    opacity: 0.8;

    &:hover {
      transition: all 0.25 ease-in;
      opacity: 1;
    }
  }
}
