.toggler {
  visibility: hidden;
  opacity: 0;
}
.sidebar {
  position: fixed;
  right: 5rem;
  top: 0;
  height: 100vh;
  width: calc(100vw - 3.7vw);
  z-index: 100;
}

.over-container {
  width: 100vw;
  height: 100vh;
  background: #fff;
}

.content-container {
  @include center(vertical);
  background: $blue-grey-900;
  left: 5rem;
  height: calc(100vh - 14%);
  width: 100vw;
}

.nav-toggler {
  position: fixed;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.navbar {
  margin: 2rem 0 0 5rem;
  font-family: effra;
  display: flex;
  @include center(vertical);
  height: auto;

  &__title {
    font-size: 2.3rem;
    font-style: bold;
    text-transform: uppercase;
    color: $teal-vivid-050;
    letter-spacing: 1.5px;

    &::after {
      content: " ";
      display: block;
      width: 2px;
      height: 25px;
      border-radius: 8px;
      margin: 1.75rem 0;
      background-color: $red-500;
    }
  }

  &__list {
    line-height: 2.25rem;
    margin: 0;
    list-style: none;
    font-size: 1.8rem;
    padding-right: 8rem;
  }

  &__item {
    margin: 0 1.75rem 1.75rem 0;

    a {
      position: relative;
      font-size: 1.6rem;
      margin-right: 2.25rem;
      padding: 0.75rem 0.75rem 0.75rem 0;
      color: #fff !important;
      text-decoration: none;
      transition: all 0.25s;
      letter-spacing: 0.7px;
      @include accelerate();
      cursor: pointer;

      &:hover {
        padding-left: 2.25rem;
        margin-right: 0;
        color: #fff !important;
      }

      &::before {
        content: "\2014";
        position: absolute;
        left: -1.75rem;
        margin-right: 0.25rem;
        opacity: 0;
        transition: all 0.25s;
      }

      &:hover::before {
        opacity: 1;
        left: 0;
      }
    }
  }
}

.case-holder {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  @include center(vertical);
  right: 10rem;
  width: calc(100vw - 65%);

  &__hover {
    position: relative;
    height: calc(100% - 30%) !important;
    width: 100% !important;

    img {
      object-fit: cover;
      background-position: 50% 50%;
      width: 100%;
      height: 100%;
      border-radius: 3px;
    }
  }
}

.hide-scroll {
  overflow-y: hidden !important;
  overflow-x: hidden !important;
}
.show-scroll {
  overflow-y: auto !important;
  overflow-x: hidden !important;
}
