.socialMedia {
  li {
    display: inline;
  }
  ul li a svg {
    display: inline-block;
    justify-content: center;
    align-items: center;
    @include accelerate();
    padding: 1rem;
    height: 25px;
    width: 20px;
    opacity: 0.6;
    transition: all 0.25s ease-in-out;

    &:hover {
      opacity: 1;
    }
  }
}
