.about {
  background: $blue-grey-050;
  margin: 5rem;
  font-size: 1.8rem;
  font-family: product-sans-bold;

  &__container {
    margin: 5rem;
    height: 100vh;
  }

  &__wrapper {
    display: grid;
    grid-template-columns: repeat(2, 50%);
  }

  &__pre-title {
    color: $red-500;
  }

  &__title {
    color: $blue-grey-900;
  }

  &__img-holder {
    height: 100%;
    width: 100%;
    img {
      width: 100%;
      margin-top: 10rem;
    }
  }
}
