.footer {
  opacity: 0.6;
  border-top: 1px solid $blue-grey-700;

  &__svg-holder {
    display: flex;
    position: absolute;
    justify-content: flex-start;
  }

  &__svg {
    @include margin(3.5rem, null, null, -4rem);
    z-index: 5;
    opacity: 0.6;
    &:hover {
      opacity: 1;
    }
  }
}
