// Define breakpoints
$breakpoint-phone: 479px;
$breakpoint-tab: 599px;
$breakpoint-tab-land: 960px;
$breakpoint-big-desktop: 1200px;

@mixin screen($size, $type: max, $pixels: $breakpoint-phone) {
  @if $size == "phone" {
    @media screen and ($type + -width: $breakpoint-small) {
      @content;
    }
  } @else if $size == "tab" {
    @media screen and ($type + -width: $breakpoint-tab) {
      @content;
    }
  } @else if $size == "tab-land" {
    @media screen and ($type + -width: $breakpoint-tab-land) {
      @content;
    }
  } @else if $size == "big-desktop" {
    @media screen and ($type + -width: $breakpoint-big-desktop) {
      @content;
    }
  } @else if $size == "custom" {
    @media screen and ($type + -width: $pixels + px) {
      @content;
    }
  } @else {
    @content;
  }
}
//? Using the mixin
// .foo {
//   @include screen(large) {
//     width: 20%;
//   }
//   @include screen(med) {
//     width: 40%;
//   }
//   @include screen(med-small) {
//     width: 60%;
//   }
//   @include screen(small) {
//     width: 80%;
//   }
//   @include screen(custom, max, 400) {
//     width: 100%;
//   }
// }

@mixin fav-screen($breakpoint) {
  @if $breakpoint == "sm-tab" {
    @media all and (min-width: 480px) and (max-width: 767px) {
      @content;
    }
  } @else if $breakpoint == "md-tab" {
    @media all and (min-width: 768px) and (max-width: 959px) {
      @content;
    }
  } @else if $breakpoint == "desktop" {
    @media all and (min-width: 960px) and (max-width: 1199px) {
      @content;
    }
  }
}
