.quote {
    &__holder {
        padding: 6rem;
    }

    &__content {

        &--bg {

            background: url('~static/img/img1.jpg') center cover fixed;

            &::before {
                content: "";
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                background-color: hsla(0, 72%, 38%, 0.6);
                mix-blend-mode: darken;
            }
        }
    }
}
