.social-media {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin-top: 2.4rem;
  float: right;
}
.linkedin,
.twitter,
.dribbble,
.telegram {
  margin: 4rem 1.3rem 1rem 1.3rem;
  opacity: 0.8;
  width: 20px;

  &:hover {
    opacity: 1;
  }
}
