.social-media {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin-top: 2rem;
  float: right;
}

.linkedin,
.twitter,
.dribbble,
.telegram a svg {
  margin: 4rem 1rem 1rem 1rem;
  opacity: 0.6;
  fill: $blue-grey-900 !important;
  width: 20px;

  @include from-end(1) {
    width: 28px;
  }

  &:hover {
    opacity: 1;
  }
}
