.contact {
    background: $blue-grey-050;

    &__title--pre {
        color: $blue-grey-800;
        padding-top: 1rem;
    }

    span {
        color: $red-500;
    }
}

.text-wrapper {
    p {
        color: $blue-grey-700;
        font-size: 1.7rem;
    }
}


.ul-list {
    padding: 2rem 0;
    font-size: 1.6rem;

    .title,
    b {
        color: $blue-grey-900;
    }

    li {
        padding: 2rem 0;
        letter-spacing: 1.7px;
        display: inline-block;

        @include from-end(2) {
            padding: 2rem 0 0 10rem;
        }


        span {
            margin-bottom: 1.5rem;
            display: inline-block;
            font-size: 1.8rem;
        }

        a {
            line-height: 4rem;
            font-size: 1.6rem;
        }

        svg {
            height: 12px;
            width: 12px;
            fill: $red-600;
            padding-right: 0.5rem;
        }
    }
}

.contact__list-item {
    display: block !important;
    padding: 0 !important;
}
