.contact {
    background: $blue-grey-050;
    font-size: 1.8rem;
    font-family: product-sans-bold;

    &__title {
        font-size: 2rem;
        padding-bottom: 3rem;
        letter-spacing: 1.7px;
        color: $blue-grey-900;

        &--pre {
            color: $blue-grey-800;
            padding-top: 2.5rem;
        }

        span {
            color: $red-500;
        }
    }
}

.ul-list {
    padding: 3rem 0;
    font-size: 1.6rem;

    li {
        padding: 2rem 0;
        letter-spacing: 1.7px;
        display: inline-block;

        @include from-end(2) {
            padding: 2rem 0 0 8rem;
        }

        span {
            margin-bottom: 1.5rem;
            display: inline-block;
            font-size: 1.8rem;
        }

        a {
            color: $blue-grey-500;
            line-height: 4rem;
        }

        svg {
            height: 12px;
            width: 12px;
            fill: $red-600;
            padding-right: 0.5rem;
        }
    }
}

.contact__list-item {
    display: block !important;
    padding: 0 !important;
}
